.VueCarousel-inner {
	position: relative;
	min-height: 483px;
		
	/*@include breakpoint(md) {
		min-height: 380px;
	}*/
	
	/*@include breakpoint(lg) {
		min-height: 345px;
	}*/
}

.VueCarousel-navigation {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	
	button {
		transform: none !important;
		transition: all 0.35s ease-in;
		opacity: 0 !important;
		top: -291px !important;
		width: 50px;
		height: 100px;
		
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100px;
			height: 100px;
			background-color: $dark-15 !important;
			border-radius: 50px;
		}
	}
	
	.VueCarousel-navigation-prev {
		&:before {
			right: 0;
			left: auto;
		}
	}
}

.VueCarousel:hover {
	.VueCarousel-navigation button {
		opacity: 1 !important;
	}	
}
