.o-progressChart {
	background: $dark;
	width: 100%;
	height: 320px;
}

#progressChart {
	width: 100%;
	height: 350px;
}

.o-titleBar {
	margin-top: 30px;
	background: white;
	text-align: center;
	
	@include breakpoint(sm) {
		padding: 10px 0 10px 20px;
		text-align: left;
	}
}

.o-progressCalendar {
	background: white;
}

.o-progressCalendar__card {
	position: relative;
	border-right: 1px solid $dark-50;
	overflow: hidden;
	position: relative;
	
	.o-progressCalendar__card--inner {
		height: 100%;
		padding: 15px;
		transition: all 0.25s ease-in;
		transform: translateX(0);
		
		&.shift {	
			transform: translateX(-100%);
		}	
	}
	
	.o-progressCalendar__card--actions {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 15px;
		transition: all 0.25s ease-in;
		transform: translateX(0);
		
		&.shift {	
			transform: translateX(-100%);
		}
		
		.o-actions--edit {
			position: absolute;
			top: 0; // offset
			left: 0;
			width: 100%;
			padding: 15px;
			transition: all 0.25s ease-in-out;
			transform: translateX(100%);
		}
	}
	
	.o-date {
		margin-left: 15px;
	}
	
	.o-date__month {
		font-weight: 500;
		font-size: 10px;
		letter-spacing: 0.3px;
		text-transform: uppercase;
	}
	
	.o-date__date {
		margin-bottom: -2px;
		font-weight: 300;
		font-size: 28px;
		line-height: 1em;
	}
	
	.o-date__year {
		font-weight: 500;
		font-size: 10px;
		letter-spacing: 0.2px;
		text-transform: uppercase;
	}
	
	.o-attributes__item {
		position: relative;
		padding-left: 0;
		cursor: default;
		@include m-b-($spacer-xxs);
		
		.o-attributeGraph {
			position: absolute;
			top: 17px;
			left: 0;
			border-bottom-width: 2px;
			border-bottom-style: solid;
			transition: all 0.25s ease-in-out;
		
			&.mobility {
				border-bottom-color: $violet;
			}
			
			&.activity {
				border-bottom-color: $plum;
			}
			
			&.appetite {
				border-bottom-color: $cyan;
			}
			
			&.pain {
				border-bottom-color: $fuscia;
			}
			
			&.stress {
				border-bottom-color: $orange;
			}
		}
		
		&:before {
			content: "";
			position: absolute;
			top: 17px;
			left: 0;
			width: 100%;
			border-bottom: 2px solid $sand-35;
		}
		
		&:hover {
			&:before {
				left: 10px;
			}
			
			.o-attributeGraph {
				left: 10px;
			}
		}
	}
	
	.o-dataEntries--display {
		padding-bottom: 45px;
	}
	
	.o-dataEntries--edit {
		position: absolute;
		top: 0; // offset
		left: 0;
		width: 100%;
		height: 100%;
		padding: 15px;
		transition: all 0.25s ease-in-out;
		transform: translateX(100%);
		
		form {
			width: 100%;
			max-width: 300px;
			margin: 0 auto;
		}
	}
}

.o-progressCalendar__card--newEntry {
	.o-progressCalendar__card--actions {
		.o-actions--edit {
			div {
				width: 100%;
				max-width: 300px;
				margin: 0 auto;
			}
		}
	}
}

.o-progressCalendar__card--newEntry {
	.o-dataEntries--display {
		height: 360px;
		
		@include breakpoint(md) {
			height: 360px;
		}
		
		@include breakpoint(lg) {
			height: 345px;
		}
	}
}

.o-field {
	padding: 4px 8px;
	position: relative;
	
	&:after {
		content: "";
		position: absolute;
		top: -10px;
		left: 0;
		height: 100%;
		border-left-width: 2px;
		border-left-style: solid;
		cursor: default;
		transform: scale(1, 0.2);
		transform-origin: center;
		transition: all 0.25s ease-in-out;
	}
	
	&:hover:after {
		top: 0;
		transform: scale(1, 1);
	}
	
	&:nth-child(even) {
		background: $sand-35;
	}
	
	&.o-field--mobility:after {
		border-left-color: $violet;
	}
	
	&.o-field--activity:after {
		border-left-color: $plum;
	}
	
	&.o-field--appetite:after {
		border-left-color: $cyan;
	}
	
	&.o-field--pain:after {
		border-left-color: $fuscia;
	}
	
	&.o-field--stress:after {
		border-left-color: $orange;
	}
}

.o-field--date {
	margin-top: 7px;
	margin-bottom: 6px;
	
	input {
		border: none;
		border-bottom: 1px solid $sand;
		font-size: 16px;
		letter-spacing: -0.03em;
	}
}

label {
	display: block;
	width: 100%;
	
	span {
		width: 100%;
		
		em {
			font-style: normal;
			float: right;
		}
	}
}

input {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: $mon !important;
	font-size: 12px;
}

textarea {
	width: 100%;
	height: 9em;
	padding: 5px;
	border: 1px solid $sand;
	font-family: $mon !important;
	font-size: 12px;
}