<!DOCTYPE html>
<html>
	<head>
		<title>Penny Daily Tracker</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" href="/styles/global.css">
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	
	<body>
		<main id="app">
			<div class="o-wrapper">
				<h1>Penny Daily Tracker</h1>
				<form>
					<label for="date" class="clearfix">
						<span>Date</span>
						<input name="date" id="date" type="date" min="2018-10-10" v-model="daily.date" />
					</label>
					<label for="mobility" class="clearfix">
						<span>Mobility <em>{{ daily.mobility }}</em></span>
						<input name="mobility" id="mobility" type="range" min="0" max="10" v-model="daily.mobility" />
					</label>
					<label for="activity" class="clearfix">
						<span>Activity <em>{{ daily.activity }}</em></span>
						<input name="activity" id="activity" type="range" min="0" max="10" v-model="daily.activity" />
					</label>
					<label for="appetite" class="clearfix">
						<span>Appetite <em>{{ daily.appetite }}</em></span>
						<input name="appetite" id="appetite" type="range" min="0" max="10" v-model="daily.appetite" />
					</label>
					<label for="pain" class="clearfix">
						<span>Pain <em>{{ daily.pain }}</em></span>
						<input name="pain" id="pain" type="range" min="0" max="10" v-model="daily.pain" />
					</label>
					<label for="stress" class="clearfix">
						<span>Stress <em>{{ daily.stress }}</em></span>
						<input name="stress" id="stress" type="range" min="0" max="10" v-model="daily.stress" />
					</label>
					<label for="notes" class="clearfix">
						<span>Notes</span>
						<textarea name="notes" id="notes" v-model="daily.notes"></textarea>
					</label>
					<label for="submit" class="clearfix">
						<input name="submit" id="submit" type="submit" value="Add Record" v-on:click="addRecord" />
					</label>
				</form>
			</div>
			
			<div class="o-wrapper">
				<ul>
					<li v-for="item in datapoints">
						<p>
						<span>Date: </span>{{ item.date }}<br />
						<span>Mobility: </span>{{ item.mobility }}<br />
						<span>Activity: </span>{{ item.activity }}<br />
						<span>Appetite: </span>{{ item.appetite }}<br />
						<span>Pain: </span>{{ item.pain }}<br />
						<span>Stress: </span>{{ item.stress }}<br />
						<span>Notes: </span>{{ item.notes }}<br />
						</p>
					</li>
				</ul>
			</div>
		</main>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
		<script type="text/javascript" src="scripts/index.js"></script>
		
	</body>
</html>
