<!DOCTYPE html>
<html>
	<head>
		<title>Penny&rsquo;s Daily Health Tracker</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link href="https://fonts.googleapis.com/css?family=Heebo:300,400,500,700,900" rel="stylesheet">
		<link rel="stylesheet" href="/styles/app.min.css">
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	
	<body>
		<main id="app">
			<chart ref="progressChart" inline-template>
				<div class="o-progressChart">
					<svg id="progressChart"></svg>
				</div>
			</chart>
			
			<div class="o-titleBar">
				<h1 class="o-titleBar__heading heading--md">Penny&rsquo;s Daily Health Tracker</h1>
			</div>
				
			<div class="o-progressCalendar">
				<carousel :scroll-per-page="true" :per-page=1 :per-page-custom=[[640,2],[960,3],[1150,4],[1400,5]]>
					<slide class="o-progressCalendar__card o-progressCalendar__card--newEntry">
						<record :item="defaults" :update="update" :pause="pause" inline-template>
							<div class="o-progressCalendar__card--wrapper">
								<div class="o-progressCalendar__card--inner" :class="{ 'shift': canEdit }">
									<div class="o-dataEntries--display">
										<button class="o-btn--primary o-btn--addNew" v-on:click="editHandler">
											<span>New Record</span>
										</button>
									</div>
									<div class="o-dataEntries--edit">
										<form>
											<label for="date" class="o-field--date">
												<span class="heading--xs">Date</span>
												<input name="date" id="date" type="date" min="2018-10-10" v-model="item.date" />
											</label>
											<label for="activity" class="o-field o-field--activity">
												<span class="heading--xs">Activity <em>{{ item.activity }}</em></span>
												<input name="activity" id="activity" type="range" min="0" max="10" v-model="item.activity" />
											</label>
											<label for="mobility" class="o-field o-field--mobility">
												<span class="heading--xs">Mobility <em>{{ item.mobility }}</em></span>
												<input name="mobility" id="mobility" type="range" min="0" max="10" v-model="item.mobility" />
											</label>
											<label for="appetite" class="o-field o-field--appetite">
												<span class="heading--xs">Appetite <em>{{ item.appetite }}</em></span>
												<input name="appetite" id="appetite" type="range" min="0" max="10" v-model="item.appetite" />
											</label>
											<label for="stress" class="o-field o-field--stress">
												<span class="heading--xs">Stress <em>{{ item.stress }}</em></span>
												<input name="stress" id="stress" type="range" min="0" max="10" v-model="item.stress" />
											</label>
											<label for="pain" class="o-field o-field--pain">
												<span class="heading--xs">Pain <em>{{ item.pain }}</em></span>
												<input name="pain" id="pain" type="range" min="0" max="10" v-model="item.pain" />
											</label>
											<label for="notes">
												<span class="heading--xs">Notes</span>
												<textarea name="notes" id="notes" v-model="item.notes"></textarea>
											</label>
										</form>
									</div>
								</div>
								<div class="o-progressCalendar__card--actions" :class="{ 'shift': canEdit }">
									<div class="o-actions--display" style="height: 25px;"></div>
									<div class="o-actions--edit">
										<div>
											<button class="o-btn--primary" v-on:click="updateHandler">
												<span>Update Record</span>
											</button>
											<button class="o-btn--simple m-l-xs" v-on:click="editHandler">
												<span>&times; Cancel</span>
											</button>	
										</div>
									</div>
								</div>
							</div>
						</record>
					</slide>
					<slide v-for="item in datapoints" class="o-progressCalendar__card">
						<record :item="item" inline-template>
							<div>
								<div class="o-date">
									<div class="o-date__month">{{ getDisplayMonth(item.date) }}</div>
									<div class="o-date__date">{{ getDisplayDate(item.date) }}</div>
									<div class="o-date__year">{{ getDisplayYear(item.date) }}</div>
								</div>
								<div class="o-progressCalendar__card--inner" :class="{ 'shift': canEdit }">
									<div class="o-dataEntries--display">
										<div class="o-attributes m-t-xxs m-b-xs">
											<div class="o-attributes__item">
												<span class="heading--xs">Activity</span>
												<span class="o-attributeGraph activity" :style="{width: (parseInt(item.activity) / 10 * 100) + '%'}"></span>
											</div>
											<div class="o-attributes__item">
												<span class="heading--xs">Mobility</span>
												<span class="o-attributeGraph mobility" :style="{width: (parseInt(item.mobility) / 10 * 100) + '%'}"></span>
											</div>
											<div class="o-attributes__item">
												<span class="heading--xs">Appetite</span>
												<span class="o-attributeGraph appetite" :style="{width: (parseInt(item.appetite) / 10 * 100) + '%'}"></span>
											</div>
											<div class="o-attributes__item">
												<span class="heading--xs">Stress</span>
												<span class="o-attributeGraph stress" :style="{width: (parseInt(item.stress) / 10 * 100) + '%'}"></span>
											</div>
											<div class="o-attributes__item">
												<span class="heading--xs">Pain</span>
												<span class="o-attributeGraph pain" :style="{width: (parseInt(item.pain) / 10 * 100) + '%'}"></span>
											</div>
										</div>
										<div>
											<div class="heading--xs">Notes</div>
											{{ item.notes }}
										</div>
									</div>
									<div class="o-dataEntries--edit">
										<form>
											<input name="date" id="date" type="hidden" v-model="item.date" />
											<label for="activity" class="o-field o-field--activity">
												<span class="heading--xs">Activity <em>{{ item.activity }}</em></span>
												<input name="activity" id="activity" type="range" min="0" max="10" v-model="item.activity" />
											</label>
											<label for="mobility" class="o-field o-field--mobility">
												<span class="heading--xs">Mobility <em>{{ item.mobility }}</em></span>
												<input name="mobility" id="mobility" type="range" min="0" max="10" v-model="item.mobility" />
											</label>
											<label for="appetite" class="o-field o-field--appetite">
												<span class="heading--xs">Appetite <em>{{ item.appetite }}</em></span>
												<input name="appetite" id="appetite" type="range" min="0" max="10" v-model="item.appetite" />
											</label>
											<label for="stress" class="o-field o-field--stress">
												<span class="heading--xs">Stress <em>{{ item.stress }}</em></span>
												<input name="stress" id="stress" type="range" min="0" max="10" v-model="item.stress" />
											</label>
											<label for="pain" class="o-field o-field--pain">
												<span class="heading--xs">Pain <em>{{ item.pain }}</em></span>
												<input name="pain" id="pain" type="range" min="0" max="10" v-model="item.pain" />
											</label>
											<label for="notes">
												<span class="heading--xs">Notes</span>
												<textarea name="notes" id="notes" v-model="item.notes"></textarea>
											</label>
										</form>
									</div>
								</div>
								<div class="o-progressCalendar__card--actions" :class="{ 'shift': canEdit }">
									<div class="o-actions--display">
										<button v-on:click="editHandler" class="o-btn--primary">
											<span>Edit</span>
										</button>
									</div>
									<div class="o-actions--edit">
										<button class="o-btn--primary" v-on:click="updateHandler">
											<span>Update Record</span>
										</button>
										<button class="o-btn--simple m-l-xs" v-on:click="editHandler">
											<span>&times; Cancel</span>
										</button>	
									</div>
								</div>
							</div>
						</record>
					</slide>
				</carousel>
			</div>
		</main>
		<!-- https://ssense.github.io/vue-carousel/examples/ -->
		<!-- https://ssense.github.io/vue-carousel/guide/ -->
		<!-- https://github.com/SSENSE/vue-carousel -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"> </script>
		<script type="text/javascript" src="scripts/app.min.js"></script>
	</body>
</html>
