header {
	width: 100%;
	background: $xtra-dark;
	
	.o-logo {
		width: 95px;
		height: 94px;
		margin: 20px auto 0;
		background-image: url("../images/penny-logo.svg");
		background-position: top left;
		background-size: cover;
	}
}

.o-titleBar {
	text-align: center;
	margin-top: -30px;
	padding: 10px 20px 10px;
	text-align: left;
	@extend .clearfix;
	
	.o-titleBar__heading {
		float: left;
	}
	
	.o-titleBar__acctOptions {
		float: right;
		
		button {
			color: $white;
		}
	}
}

main {
	background: $white;
}

footer {
	opacity: 0;
	background: $sand-35;
	width: 100%;
	height: 200px;
}